*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
body {
    font-family: 'Space Mono', monospace;
    font-size: 1.4rem;
    background-color: var(--light-grayish-cyan);
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-width: 369px;
}
.header {
    margin: 2.5rem 0rem;
}
.content {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}
.containers {
    margin-bottom: 2rem;
}
.title {
    color: var(--dark-grayish-cyan);
    padding-bottom: 0.4rem;
    font-size: 1rem;
}
.icons {
    width: 0.875rem;
    height: fit-content;
    padding-top: 0.4rem;
}
#icons-people {
    padding-top: 0.7rem;
}
.amount {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--very-light-grayish-cyan);
    border-radius: 0.5rem;
}
.input-field {
    border: none;
    width: auto;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    overflow: hidden;
    text-align: end;
}
#bill span:hover {
    border: 2px solid var(--light-grayish-cyan);
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.buttons-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    margin: 0.6rem 0.4rem;
}
.btn {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-grayish-cyan);
    width: 152px;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}
.btn:hover {
     color: var(--very-dark-cyan);
     background-color: var(--strong-cyan);
     cursor: pointer;
}
#custom {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    overflow: hidden;
    text-align: end;
}
#custom:hover {
    border: 2px solid var(--light-grayish-cyan);
    cursor: pointer;
}
#no-of-people p {
    display: flex;
    justify-content: space-between;
}
#no-of-people > span:hover{
    border: 2px solid var(--light-grayish-cyan);
    cursor: pointer;
}
#span-title {
    color: red;
    display: none;
}
#calculations {
    background-color: var(--very-dark-cyan);
    color: var(--very-light-grayish-cyan);
    border-radius: 0.6rem;
    padding: 1.2rem 1.4rem;
}
.results-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
}
.person {
    color: var(--grayish-cyan);
    font-size: 0.7rem;
}
.result {
    color: var(--strong-cyan);
    font-size: 1.8rem;
}
.reset-button {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    font-size: 1.3rem;
}
.reset-button:hover {
    background-color: var(--light-grayish-cyan);
    cursor: pointer;
}

@media screen and (min-width: 786px) {
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        min-width: 40rem;
        font-size: 1rem;
        padding: 2rem;
        margin: 3rem auto;
    }
    .containers {
        margin-bottom: 1rem;
    }
    .right-side .containers {
        margin-bottom: 1.5rem;
    }
    .title {
        font-size: 0.7rem;
        margin-left: 0.5rem;
        margin-bottom: 0.3rem;
    }
    .icons {
        padding-top: 0.1rem;
    }
    #icons-people {
        padding-top: 0.3rem;
    }
    .buttons-grid-container {
        grid-template-columns: auto auto auto;
    }
    .grid-item {
        margin: 0.3rem;
    }
    .btn {
        width: 5.9rem;
        border: none;
        border-radius: 0.3rem;
        padding: 0.5rem 1rem;
    }
    #calculations {
        margin-left: 2rem;
        margin-bottom: 0rem;
        padding: 1.5rem 1.8rem;
        width: 20rem;
        height: 22rem;
    }
    .results-container p {
        font-size: 0.7rem;
        margin-top: 1.2rem;
    }
    .result {
        font-size: 2.1rem;
    }
    .reset-button {
        margin-top: 7.2rem;
    }
}

.attribution { 
    font-size: 0.688rem; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}